
@{
    Layout = null;
}

@model LogicaNegocio.Models.ReporteModel

@{
    List<LogicaNegocio.Models.ModelDonar> donaciones = Model.data2;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/FechaDonacion.css" />
    <title>Donaciones</title>
</head>
<body>
    <section class="encabezado2">
        <center>
            <table class="tabla">
                <tr class="cabezas3">
                    <td class="cabeza-imagen" rowspan="3"><img src="/css/images/fundacion (1).png" class="imagen6" /></td>
                    <td class="cabeza-titulo" colspan="6"><h1 class="titulo">REPORTE DONACIONES POR FECHA</h1></td>
                </tr>
                <tr class="cabezas2">
                    <td class="espacio1">USUARIO</td>
                    <td class="espacio1">FECHA EMISION</td>
                    <td class="espacio1">HORA EMISION</td>
                    <td class="espacio1">FECHA INICIAL</td>
                    <td class="espacio3">FECHA FINAL</td>
                </tr>
                <tr class="cabezas2">
                    <td class="espacio2">@Model.usuario</td>
                    <td class="espacio2">@Model.fecha</td>
                    <td class="espacio2">@Model.hora</td>
                    <td class="espacio2">@Model.Fecha_ini</td>
                    <td class="espacio4">@Model.Fecha_fin</td>
                </tr>
                    @{

                    var decision = 0;
                    var decision2 = 0;
                    var posicion = 0;
                    foreach (var item in donaciones)
                    {
                        if (!donaciones[posicion].NOMBRE_EVENTO.Equals(item.NOMBRE_EVENTO))
                        {
                            decision = 0;
                        }
                        if (decision == 0)
                        {
                            <tr>
                                <td class="espacio7" colspan="6">EVENTO @item.NOMBRE_EVENTO.ToUpper()</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="espacio5">DOCUMENTO</td>
                                <td colspan="2" class="espacio5">NOMBRE</td>
                                <td colspan="2" class="espacio6">FECHA DONACION</td>
                            </tr>
                            decision = 1;
                        }
                        <tr>
                            <td colspan="2" class="espacio5">@item.DOCUMENTO_DONANTE</td>
                            <td colspan="2" class="espacio5">@item.NOMBRE_DONANTE</td>
                            <td colspan="2" class="espacio6">@item.FECHA_DONACION</td>
                        </tr>
                        posicion++;
                        if (decision2 == 0)
                        {
                            posicion--;
                            decision2 = 1;
                        }
                    }
                    }
            </table>
        </center>
    </section>
</body>
</html>
